# 🐭 EditorConfig.org

## global
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

# javascript, typescript
[*.{js,ts,vue}]
indent_style = space
indent_size = 2

# json
[*.json]
indent_style = space
indent_size = 2

# markdown
[*.md]
indent_style = tab
indent_size = 4
max_line_length = 80
trim_trailing_whitespace = false
