{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "standard"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ]
}
